body{
  background-color: burlywood;
}

.text{
  align-self: center;
}


.head{
  text-align: center;
  background-color: black;
  color: beige;
  padding: 35px;
}

.todo{
  text-align: center;

} 
.txt{
  display: inline-block;
}


.btn{
  border-radius: 8px;
  color:blue;
}
.btn:hover{
  background-color:grey
}
.box{
  margin-right: 5px;
}

.check{
  display: flex; 
  align-self: center;
  padding-left: 40%;
  padding-top: 10px;
}
.check > div {
  padding-left: 10px;
}
